html {
	font-family: "STIX Two Text", Times, serif;
}

:root {
	--dark: #292d30;
	--light: #eef0e9;
}

body {
	background-color: var(--dark);
	color: white;
	margin: 0px;
	transition: 0.5s ease;
	display: flex;
	flex-direction: column;
}

.dark-mode {
	background-color: var(--dark);
	color: white;
}
.turntable-active {
	display: flex !important;
}

/* HEADER */
header {
	overflow: hidden;
}

.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: black;
	padding: 10px 0;
	height: 55px;
	box-sizing: border-box;
}

#linkbox1 {
	flex: 1;
	display: inline-block;
	margin-left: 6%;
	font-weight: 600;
}
#linkbox2 {
	display: inline-block;
	margin-right: 6%;
	font-weight: 600;
}

.navlinks {
	text-decoration: none;
	font-size: 30px;
	color: white;
	margin-right: 20px;
	width: 100px;
}

.navlinks:hover {
	transition: 0.3s ease;
	color: #e3dff0;
}

.navlinks:not(:hover) {
	transition: 0.3s ease;
}

.menu {
	display: none;
}

#mobilenav {
	display: none;
}

.logo {
	width: 35px;
	cursor: pointer;
}

.logo:hover {
	transform: rotate(45deg);
	transition: 0.3s ease;
}

.logo:not(:hover) {
	transition: 0.3s ease;
}

/*HERO IMAGE*/
.hero {
	padding-top: 31.25%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: font-size 0.3s ease;
}

.hero h1 {
	font-size: 50px;
	margin-top: -31.25%;
}

#hero-gallery {
	background-image: url(assets/wanderer.jpg);
}

#hero-contact {
	background-image: url(assets/osaka.jpg);
}

#hero-deer {
	background-image: url(assets/deer.jpg);
}
#hero-mountain {
	background-image: url(assets/mountain.jpg);
	opacity: 50%;
}
.photo-location {
	position: absolute;
	margin-right: 20px;
	right: 0;
	transform: translateY(-50px);
	color: white;
	opacity: 70%;
	font-style: italic;
}

@media only screen and (max-width: 873px) {
	#linkbox1, #linkbox2 {
		display: none;
	}

	.menu {
		margin-left: 6%;
		display: block;
		width: 35px;
		cursor: pointer;
	}

	#mobilenav {
		background: black;
		transition: 0.3s ease;
		padding-left: 6%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
	}

	#mobilenav a {
		margin: 0 0;
		margin-bottom: 10px;
	}

	nav img {
		display: none;
	}

	.themeToggleMobile {
		width: 25px;
		cursor: pointer;
	}

	.hero h1 {
		font-size: 30px;
		transition: font-size 0.3s ease;
	}
}


/*Main*/
.about {
	height: 600px;
	display: flex;
	margin: 50px 20%;
}
.about div {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.description {
	padding: 0 10%;
	font-size: 22px;
}
.about div img {
	height: 100%;
}

/*Collage*/
.collage {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 60%;
}
.hori {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.hori_thumbnail {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 40%;
	transition: 0.3s ease;
}
.hori_thumbnail img {
	width: 100%;
}
.hori_thumbnail:hover {
	opacity: 0.5;
}
@media only screen and (max-width: 873px) {
	.hori_thumbnail {
		max-width: 80%;
	}
}
/*CONTACT FORM*/
.headshot2 {
	width: 150px;
}
.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
	margin-bottom: 20%;
}

.download {
	text-decoration: none;
	color: rgb(13, 164, 255);
	transition: color 0.3s ease;
}

.download:hover {
	color: rgb(8, 114, 177);
}

form {
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
	width: 75%;
}

@media only screen and (min-width: 873px) {
	form {
		width: 40%;
	}
}

input,
textarea,
button {
	font-size: 30px;
	padding: 5px;
	outline: none;
	resize: vertical;
	font-family: "STIX Two Text", Times, serif;
}

/*FOOTER*/
footer {
	text-align: center;
	padding: 1% 0;
	background-color: black;
	margin-top: auto;
	width: 100%;
}


footer p {
	color: white;
	font-size: 15px;
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
}

footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer img {
	width: 30px;
	height: 30px;
}

.social-links {
	display: flex;
	justify-content: center;
}

.social-links img {
	margin: 0 10px;
}